/* no more test for github */

@import "https://fonts.googleapis.com/css?family=Raleway:600,500,400,300";
@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";

body {
	background: #fff;
	color: #000;
	font-family: Raleway;
}

footer {
	background: #212b23;
	color: #797f7a;
}

footer p {
	font-size: 14px !important;
	font-weight: normal;
}

footer a {
	color: #fff;
}

footer a:hover {
	color: #ccc;
}


/* start custom navigation */

.navbar {
	min-height: 120px;
}

.navbar-nav {
	font-family: "Open Sans Condensed";
	font-size: 16px;
	font-weight: normal;
	text-shadow: 2px 2px 2px #404040;
}

.navbar-brand {
	margin-top: -20px;
}

.top-nav-collapse .navbar-brand {
	margin-top: 0px;
}

.top-nav-collapse .navbar-nav {
	margin-top: 35px;
}

.navbar-custom .nav li a{
	color: #fff;
}

.navbar-custom.top-nav-collapse .nav li a{
	color: #636873;
	text-shadow: none;
}


.navbar-custom .nav li > ul > li > a {
	color: #000;
	text-shadow: none;
}

.navbar-custom .nav li > ul > li > a:hover {
	background-color: #000;
	color: #fff;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
	display: block;
}

.navbar-toggle {
	background-color: #fff;
}

/* end custom navigation */

.intro {
	background: url(../img/home_main1.jpg) no-repeat top center scroll;

}

.content-section {
	padding-top: 150px;
}


/* start text styles */

p {
	font-family: Raleway;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	padding-bottom: 20px;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Raleway;
}

/* end text styles */

/* start button styles */

.pill {
	background: #000;
	color: #fff;
	padding: 10px 20px;
	border-radius: 25px;
}

.pill:hover {
	background: #404040;
}

/* responsive */

@media (max-width: 768px) {

	.navbar {
		min-height: 50px;
		box-shadow: rgba(0, 0, 0, 0.0980392) 0px 4px 2px -2px;
	}

	.navbar-brand {
		margin-top: 0px;
	}

	.top-nav-collapse .navbar-brand {
	    margin-top: 0;
	}

	.content-section {
		padding-top: 40px;
	}

}