body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #5f5f58;
  line-height: 26px;
}

button {
  background: rgba(0, 0, 0, 0.3);
  border: none;
}

span,
h2 {
  text-align: center;
}

span,
p {
  line-height: 18px;
  margin-bottom: 12px;
}

h1,
h2 {
  font-family: 'Sue Ellen Francisco', cursive;
  font-weight: lighter;
  line-height: 72px;
  padding-top: 10px;
}

h1 {
  font-size: 60px;
  color: #9e9e94;
}

h2 {
  font-size: 60px;
}

a {
  color: #5f5f58;
  font-weight: bold;
  text-decoration: none;
}

hr {
  border-top: 1px solid #9e9e94;
}

footer {
  display: flex;
  justify-content: center;
}

.intro {
  padding: 5px;
  font-size: 18pt;
  font-weight: 100;
  line-height: 30px;
}

.lookbook {
  box-shadow: none !important;
  max-width: 50%;
}

.tours-tape {
  box-shadow: none !important;
  max-width: 20%;
  padding-top: 40px;
  padding-bottom: 80px;
}

.main-container {
  flex-direction: column;
  background: #aaaaaa;
  background-image: url("../img/new/main/seamless_bg_small.jpg");
  background-repeat: repeat;
}

.main-container * {
  width: 100%;
}

.nav {
  height: 100px;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.0);
  position: absolute;
  z-index: 100;
}

.nav-logo {
  margin-left: 15px;
  margin-top: 15px;
  max-height: 100%;
  width: auto;
}

.nav-burger {
  background: rgba(0, 0, 0, 0.0);
  margin-right: 15px;
  margin-top: 15px;
  max-height: 33%;
  width: auto;
  float: right;
}

.show {
  display: flex !important;
  flex-direction: column;
}

.dropdown-menu {
  width: 300px;
  background: rgba(0, 0, 0, 0.3);
  top: 100px;
  right: 0px;
  position: absolute;
  display: none;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 26px;
  padding: 20px;
}

.dropdown-menu a {
  font-weight: lighter;
  color: white;
  padding-top: 13px;
  padding-bottom: 13px;
}

.dropdown-menu a:hover {
  color: #9e9e94;
}

.top-pic {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  display: block;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.middle {
  text-align: center;
}

.lower {
  line-height: 0;
}

.lower-pic {
  width: 100vw;
  height: 100vh;
  display: block;
  object-fit: cover;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.5);
}

.signup {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.signup>* {
  background-color: #9e9e94;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5);
  margin: 10px;
  width: 350px;
  height: 350px;
}

.signup span {
  font-size: 11pt;
  font-weight: lighter;
}

.footer-text {
  max-width: 90%;
  font-size: 12pt;
  text-align: center;
  padding-bottom: 100px;
}

.center-content {
  font-size: 16px;
  line-height: 26px;
  margin: 0 auto;
  max-width: 1000px;
  padding-bottom: 150px;
}

.center-content-no-pics {
  font-size: 16px;
  line-height: 26px;
  margin: 0 auto;
  max-width: 1000px;
}

.center-text {
  line-height: 26px;
  border-bottom: 1px solid #9e9e94;
  text-align: left;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.center-text a {
  font-weight: bold;
}

.center-pics {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-center-pics {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bottom-border {
  padding: 13px;
  left: -13px;
  border-bottom: 1px solid #9e9e94;
}

.no-border {
  border: none !important;
}

.center-pics img {
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5);
}

.signup-img {
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5);
}

.center-text * {
  padding: 0px;
  margin: 0px;
}

.adj-pics {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.adj-pics>*:first-child {
  margin-right: 13px;
}

.adj-pics>*:last-child {
  margin-left: 13px;
}

.icons {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icons>* {
  padding: 5px;
  width: 50px;
}

.left,
.left-reverse {
  align-items: flex-end;
}

.right,
.right-reverse {
  align-items: flex-start;
}

.left,
.right {
  max-width: 50%;
  padding: 13px;
  display: flex;
  flex-direction: column;
}

.left-reverse,
.right-reverse {
  padding: 13px;
  display: flex;
  flex-direction: column-reverse;
}

.left>*,
.right>*,
.left-reverse>*,
.right-reverse>* {
  margin-bottom: 13px;
  margin-top: 13px;
}

.spaced {
  justify-content: space-between;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.dummy {
  width: 100%;
}

.white-text {
  color: white;
}

.lower-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.lower-form>* {
  margin: 5px;
  max-width: 70%;
  flex-grow: 1;
}

.lower-form>input {
  padding: 5px;
}

.form-submit-button {
  margin: 15px;
  padding: 10px;
  max-width: 30%;
  background: rgba(0, 0, 0, 0.3);
  border: none;
}

.blog-page-nav {
  display: flex;
  justify-content: space-between;
}

.blog-page-nav h2 {
  color: #9e9e94;
  font-size: 32px;
}

.blog-page-number {
  display: inline;
  font-size: 18px;
}

.center-children {
  display: flex;
  align-items: center;
}

.blog-post {
  display: flex;
  flex-direction: column;
}

.no-underline {
  text-decoration: none;
}

.blog-post>* {
  margin: 13px;
}

.blog-post p {
  font-weight: lighter;
}

.blog {
  text-align: left;
}

.blog-post-body img {
  max-width: 75%;
  display: block;
}

.blog-post-body>p {
  display: flex;
  justify-content: center;
}

@media screen and (orientation: portrait) {

  body {
    font-size: 16px;
  }

  .center-pics,
  .home-center-pics {
    flex-direction: column;
  }

  .center-text {
    text-align: center;
  }

  .left,
  .right,
  .left-reverse,
  .right-reverse {
    padding: 0px;
  }

  .center-content {
    width: 85%;
  }

  .blog-post {
    flex-direction: column;
  }

  .blog-post>* {
    margin: 0px;
  }

  .nav {
    position: fixed;
  }

  .tours-tape {
    max-width: 40%;
  }
}
