body {
    margin: 0;
    padding: 0;
}

.main-container {
    padding: 0;
    margin: 0;
    flex-direction: column;
    width: 100%;
    background: #aa0000;
}

.main-container * {
    width: 100%;
}

.nav {
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.0);
}

.nav-logo {
    max-height: 100%;
    width: auto;
}

.top {
    background: #999999;
    background-image: url("../img/intro-bg.jpg");
}

.middle {
    background-image: url("../img/new/main/seamless_bg.jpg");
    background-repeat: repeat;
}
