body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 14px;
}

button {
    background: rgba(0, 0, 0, 0.3);
    border: none;
}

span, h2 {
    text-align: center;
}

span, p {
    line-height: 18px;
}

h1, h2 {
    font-family: 'Sue Ellen Francisco', cursive;
    font-weight: lighter;
    line-height: 60px;
    padding-top: 10px;
}

h1 {
    font-size: 60px;
    color: #9e9e94;
}

h2 {
    font-size: 60px;
}

a {
    color: black;
}

hr {
    border-top: 1px solid #9e9e94;
}

.intro {
    padding: 5px;
}

.main-container {
    flex-direction: column;
    background: #aaaaaa;
    background-image: url("../img/new/main/seamless_bg_small.jpg");
    background-repeat: repeat;
}

.main-container * {
    width: 100%;
}

.nav {
    height: 100px;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.0);
    position:fixed;
}

.nav-logo {
    max-height: 100%;
    width: auto;
}

.top {
    line-height: 0;
}

.middle {
    text-align: center;
}

.lower {
    line-height: 0;
}

.signup {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.adj-pics {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.signup > * {
    background: rgba(0, 0, 0, 0.3);
    margin: 10px;
    width: 350px;
    height: 350px;
}

.footer-text {
    text-align: center;
    padding-bottom: 100px;
}

.center-content {
    margin: 0 auto;
    max-width: 750px;
    padding-bottom: 150px;
}

.shop-center-content {
    margin: 0 auto;
    max-width: 750px;
}

.shop-center-content *, .center-content * {
    color: #58595b;
}

.center-text {
    border-bottom: 1px solid #9e9e94;
    text-align: left;
    margin: 13px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: inline block;
}

.center-pics {
    display: flex;
    flex-direction: row:
    flex-wrap: wrap;
    justify-content: center;
}

.home-center-pics {
    display: flex;
    flex-direction: row:
    flex-wrap: wrap;
    justify-content: center;
}

.center-pics img {
    box-shadow: 2px 2px 1px gray;
}

.center-text * {
    padding: 0px;
    margin: 0px;
}

.pics-sideways {
    display: flex;
    width: 100%;
}

.pics-sideways * {
    padding: 0px;
}

.adj-pics {
    margin: 13px;
    display: inline block;
}

.adj-pics > *:first-child {
    margin-right: 13px;
}

.adj-pics > *:last-child {
    margin-left: 13px;
}

.icons {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icons > * {
    padding: 5px;
    width: 50px;
}

.left {
    align-items: end;
}

.right {
    align-items: start;
}

.left, .right {
    display: flex;
    flex-direction: column;
}

.left-reverse, .right-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.left > img {
    margin: 13px;
}

.right > img {
    margin: 13px;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.dummy {
    width: 100%;
}

.shop-signup-bod {
    background: rgba(0, 0, 0, 0.3);
    margin: 13px;
    color: white;
    height: 375.5px;
}

.signup-bod * {
    color: white;
}

.lower-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.lower-form > * {
    margin: 5px;
    max-width: 70%;
    flex-grow: 1;
}

.lower-form > input {
    padding: 5px;
}

.lower-form > button {
    margin: 15px;
    padding: 10px;
    max-width: 30%;
}
