---
layout: new_default
image_top: img/events/lookbook_large.jpg
image_lower: img/new/weddings/weddings_lower_large.jpg
image_signup: img/new/weddings/weddings_signup.jpg
form: inquire.html

modules:
  - type: gallery
    galleries:
      - name: Summer
        entries:
          - img: "/img/events/lookbook/harley-farms-weddings21.jpg"
            text: "Pink amaranthus trailing from an exuberant altar"
          - img: "/img/events/lookbook/harley-farms-weddings10.jpg"
            text: "Corsages and boutonnieres in your wedding colors"
          - img: "/img/events/lookbook/harley-farms-weddings31.jpg"
            text: "Summer wedding feast"
          - img: "/img/events/lookbook/harley-farms-weddings32.jpg"
            text: "Flattering filtered light in the Secret Garden"
          - img: "/img/events/lookbook/harley-farms-weddings33.jpg"
            text: "Wedding wristbands in smoky orange and green"
          - img: "/img/events/lookbook/harley-farms-weddings34.jpg"
            text: "A sweetly wild bouquet of peach roses"
          - img: "/img/events/lookbook/harley-farms-weddings35.jpg"
            text: "Stylish boutonnieres"
          - img: "/img/events/lookbook/harley-farms-weddings36.jpg"
            text: "We serve refreshments before the wedding begins"
          - img: "/img/events/lookbook/harley-farms-weddings37.jpg"
            text: "A serene and lovely space to be yourselves"
          - img: "/img/events/lookbook/harley-farms-weddings38.jpg"
            text: "Beautiful backdrop"
          - img: "/img/events/lookbook/harley-farms-weddings39.jpg"
            text: "A picturesque entrance via our little bridge"
          - img: "/img/events/lookbook/harley-farms-weddings4.jpg"
            text: "Summer bouquet of gold, cream and orange"

      - name: Spring
        entries:
          - img: "/img/events/lookbook/harley-farms-weddings1.jpg"
            text: "April altar in cream and pale pink"
          - img: "/img/events/lookbook/harley-farms-weddings16.jpg"
            text: "Make an exquisite entrance"
          - img: "/img/events/lookbook/harley-farms-weddings17.jpg"
            text: "These are your memories"
          - img: "/img/events/lookbook/harley-farms-weddings5.jpg"
            text: "Champagne toast in the secret garden"
          - img: "/img/events/lookbook/harley-farms-weddings7.jpg"
            text: "Mariachi band"
          - img: "/img/events/lookbook/harley-farms-weddings8.jpg"
            text: "The bride chose bright jewel colors "
          - img: "/img/events/lookbook/harley-farms-weddings9.jpg"
            text: "Rich pink and wine stands out against dark lapels"

      - name: Winter
        entries:
          - img: "/img/events/lookbook/harley-farms-weddings42.jpg"
            text: "Wedding gatecrasher"
          - img: "/img/events/lookbook/harley-farms-weddings45.jpg"
            text: "Sheepskin and warm hay for a January ceremony"
          - img: "/img/events/lookbook/harley-farms-weddings46.jpg"
            text: "Pink blush apple with cheese and relish"
          - img: "/img/events/lookbook/harley-farms-weddings47.jpg"
            text: "A tranquil setting for a down-to-earth wedding"
          - img: "/img/events/lookbook/harley-farms-weddings52.jpg"
            text: "Local chard braised with garlic"
          - img: "/img/events/lookbook/harley-farms-weddings53.jpg"
            text: "Cauliflower curry for a vegetarian entree"
          - img: "/img/events/lookbook/harley-farms-weddings55.jpg"
            text: "Raw mango crumble for a sweet vegan treat"
          - img: "/img/events/lookbook/harley-farms-weddings57.jpg"
            text: "Winter bouquet of hellebores with Spanish moss"
          - img: "/img/events/lookbook/harley-farms-weddings58.jpg"
            text: "Fur throw on carved wooden throne"
          - img: "/img/events/lookbook/harley-farms-weddings59.jpg"
            text: "Elegant, organic floral style"
          - img: "/img/events/lookbook/harley-farms-weddings60.jpg"
            text: "Bridesmaid’s tiara of delicate flowers and moss"
          - img: "/img/events/lookbook/harley-farms-weddings64.jpg"
            text: "Something old, something new. Up to you."

      - name: Year-round
        entries:
          - img: "/img/events/lookbook/harley-farms-weddings22.jpg"
            text: "Nibbles of frittata with edible violas"
          - img: "/img/events/lookbook/harley-farms-weddings23.jpg"
            text: "Farm feta drizzled with garlic and herbs"
          - img: "/img/events/lookbook/harley-farms-weddings2.jpg"
            text: "Wedding favors made on the farm"
          - img: "/img/events/lookbook/harley-farms-weddings11.jpg"
            text: "Family and friends in the edible flower garden"
          - img: "/img/events/lookbook/harley-farms-weddings12.jpg"
            text: "The goats like to meet you"
          - img: "/img/events/lookbook/harley-farms-weddings13.jpg"
            text: "Tell us what you want and we’ll make it"
          - img: "/img/events/lookbook/harley-farms-weddings14.jpg"
            text: "Wander our garden of rambling roses"
          - img: "/img/events/lookbook/harley-farms-weddings15.jpg"
            text: "Signs to guide your guests"
          - img: "/img/events/lookbook/harley-farms-weddings19.jpg"
            text: "Arrive in style across the fields"
          - img: "/img/events/lookbook/harley-farms-weddings25.jpg"
            text: "Five-course wedding menu"
          - img: "/img/events/lookbook/harley-farms-weddings3.jpg"
            text: "Farm honey makes a sweet favor"
          - img: "/img/events/lookbook/harley-farms-weddings41.jpg"
            text: "Lemon chevre cheesecake on soapstone platter"
          - img: "/img/events/lookbook/harley-farms-weddings44.jpg"
            text: "World Gold Medal cheese to accompany cocktails"
          - img: "/img/events/lookbook/harley-farms-weddings61.jpg"
            text: "The farm is yours for the evening"
          - img: "/img/events/lookbook/harley-farms-weddings62.jpg"
            text: "Get closer if you would like"
          - img: "/img/events/lookbook/harley-farms-weddings63.jpg"
            text: "It’s romantic here"

      - name: Red barn
        entries:
          - img: "/img/events/lookbook/harley-farms-weddings18.jpg"
            text: "Dee Harley supervises a wedding table"
          - img: "/img/events/lookbook/harley-farms-weddings20.jpg"
            text: "Doors open to a dancing floor and cocktail space"
          - img: "/img/events/lookbook/harley-farms-weddings26.jpg"
            text: "Drop off your wine and cocktails beforehand for us to serve"
          - img: "/img/events/lookbook/harley-farms-weddings27.jpg"
            text: "Bar staff are well-trained"
          - img: "/img/events/lookbook/harley-farms-weddings28.jpg"
            text: "Spectacular wedding photo moments"
          - img: "/img/events/lookbook/harley-farms-weddings30.jpg"
            text: "Bonfire sparks drift into the night"
          - img: "/img/events/lookbook/harley-farms-weddings56.jpg"
            text: "You will be the first to see your wedding table"

---

<h1>Wedding lookbook</h1>

  <p class="intro">
    The farm is an idyllic location for your rustic wedding. Ask us anything at <a
    href="mailto:events@harleyfarms.com">events@harleyfarms.com</a>. Meanwhile,
    here's our lookbook of farm wedding moments.
  </p>
<div class="hidden-xs" style="height: 120px"></div>
<div class="visible-xs" style="height: 70px"></div>
{% for module in page.modules %}
	{% if module.type == "header" %}
		<div class="container" style="padding-top: 50px; padding-bottom: 50px;">
			{% if forloop.first == false and module.hr == true %}
				<hr />
			{% endif %}
	    	<img src="{{ module.img }}" class="img-responsive" alt="">
	    </div>
		<div class="container">
			{{ module.text | markdownify }}
		</div>
	{% endif %}
	{% if module.type == "2-col" %}
		{% if module.orientation == "left" %}
		<div class="container" style="padding-bottom: 25px;">
        	{% if forloop.first == false and module.hr == true %}
				<hr />
			{% endif %}
			<div class="row">
        		<div class="col-md-6 col-md-push-6">
        			{{ module.text | markdownify }}
        		</div>
        		<div class="col-md-6 col-md-pull-6"><img src="{{ module.img }}" class="img-responsive" style="margin: 0 auto;" alt=""></div>
        	</div>
        </div>
        {% else %}
		<div class="container" style="padding-bottom: 25px;">
        	{% if forloop.first == false and module.hr == true %}
				<hr />
			{% endif %}
			<div class="row">
        		<div class="col-md-6">
        			{{ module.text | markdownify }}
        		</div>
        		<div class="col-md-6"><img src="{{ module.img }}" class="img-responsive" style="margin: 0 auto;" alt=""></div>
        	</div>
        </div>
        {% endif %}
	{% endif %}
	{% if module.type == "3-col-grid" %}
		<div class="container" style="padding-bottom: 25px;">
			{% if forloop.first == false and module.hr == true %}
				<hr />
			{% endif %}
			{% assign n = 1 %}
		{% for entry in module.entries %}
			{% if n == 1 %}
				<div class="row">
			{% endif %}
			<div class="col-md-4">
				<p><img src="{{ entry.img }}" alt="" class="img-responsive"></p>
				{{ entry.text | markdownify }}
			</div>
			{% if n == 3 or forloop.last == true %}
				</div>
				{% assign n = 1 %}
			{% else %}
				{% assign n = n | plus: 1 %}
			{% endif %}
		{% endfor %}
	</div>
	{% endif %}
	{% if module.type == "2-col-grid" %}
		<div class="container" style="padding-bottom: 25px;">
			{% if forloop.first == false and module.hr == true %}
				<hr />
			{% endif %}
			{% assign n = 1 %}
		{% for entry in module.entries %}
			{% if n == 1 %}
				<div class="row">
			{% endif %}
			<div class="col-md-6">
				<p><img src="{{ entry.img }}" alt="" class="img-responsive"></p>
				{{ entry.text | markdownify }}
			</div>
			{% if n == 2 or forloop.last == true %}
				</div>
				{% assign n = 1 %}
			{% else %}
				{% assign n = n | plus: 1 %}
			{% endif %}
		{% endfor %}
		</div>
	{% endif %}
	{% if module.type == "text" %}
		<div class="container" style="padding-bottom: 25px;">
			{% if forloop.first == false and module.hr == true %}
				<hr />
			{% endif %}
				{% if module.markdown != false %}{{ module.text | markdownify }}{% else %}{{ module.text }}{% endif %}
		</div>
	{% endif %}	
    {% if module.type == "4-col-img-grid" %}
        <div class="container" style="padding-bottom: 25px;">
            {% if forloop.first == false and module.hr == true %}
                <hr />
            {% endif %}
            {% assign n = 1 %}
        {% for entry in module.entries %}
            {% if n == 1 %}
                <div class="row">
            {% endif %}
            <div class="col-md-3 col-sm-6">
                <p><img src="{{ entry }}" alt="" class="img-responsive"></p>
            </div>
            {% if n == 4 or forloop.last == true %}
                </div>
                {% assign n = 1 %}
            {% else %}
                {% assign n = n | plus: 1 %}
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
    {% if module.type == "gallery" %}
        <div class="container" style="padding-bottom: 25px;">

            {% if forloop.first == false and module.hr == true %}
                <hr />
            {% endif %}

         	{% assign galleryno = 1 %}
         	<p style="text-align: center;">
            {% for gallery in module.galleries %}
				<a href="#{{ galleryno | prepend: "gallery" }}" aria-controls="{{ galleryno | prepend: "gallery" }}" role="tab" data-toggle="tab" class="gallery-pill{% if forloop.first == true %} active{% endif %}">{{ gallery.name }}</a>
	         	{% assign galleryno = galleryno | plus: 1 %}
	        {% endfor %}
	        <a href="#all" aria-controls="all" role="tab" data-toggle="tab" class="gallery-pill">All</a>
	        </p>

            {% assign galleryno = 1 %}
            {% for gallery in module.galleries %}
            	<div role="tabpanel" class="tab-pane{% if forloop.first == true %} active{% endif %}" id="{{ galleryno | prepend: "gallery" }}">
            	{% assign n = 1 %}
	            {% for entry in gallery.entries %}
	                {% if n == 1 %}
	                    <div class="row">
	                {% endif %}
	                <div class="col-md-4" style="padding-bottom: 30px;">
	                <img src="{{ entry.img }}" class="img-responsive" style="visibility: hidden;">
		                <a href="{{ entry.img }}" data-lightbox="{{ galleryno | prepend: "gallery" }}"{% unless text == "" %} data-title="{{ entry.text }}"{% endunless %}>
			                <div class="tile ratio" style="background: url({{ entry.img }}); position: absolute; width: calc(100% - 30px); height: calc(100% - 30px); top: 0; z-index: 10;">
			                	<div class="back">
			                	  <div class="text-center content-container">
			                	    <h3 style="margin: 0;">{% unless text == "" %}{{ entry.text }}{% endunless %}</h3>
			                	  </div>
			                	</div>
			                </div>
		                </a>
	                </div>
	                {% if n == 3 or forloop.last == true %}
	                    </div>
	                    {% assign n = 1 %}
	                {% else %}
	                    {% assign n = n | plus: 1 %}
	                {% endif %}
	            {% endfor %}
	            </div>
	            {% assign galleryno = galleryno | plus: 1 %}
	        {% endfor %}
	        <div role="tabpanel" class="tab-pane" id="all">
	        {% assign n = 1 %}
	        {% for gallery in module.galleries %}
	        	{% if forloop.last %}
	        		{% assign last = true %}
	        	{% endif %}
            	{% for entry in gallery.entries %}
	                {% if n == 1 %}
	                    <div class="row">
	                {% endif %}
	                <div class="col-md-4" style="padding-bottom: 30px;">
	                	<img src="{{ entry.img }}" class="img-responsive" style="visibility: hidden;">
		                <a href="{{ entry.img }}" data-lightbox="all"{% unless text == "" %} data-title="{{ entry.text }}"{% endunless %}>
			                <div class="tile" style="background: url({{ entry.img }}); position: absolute; width: calc(100% - 30px); height: calc(100% - 30px); top: 0; z-index: 10;">
			                	<div class="back">
			                	  <div class="text-center content-container">
			                	    <h3 style="margin: 0;">{% unless text == "" %}{{ entry.text }}{% endunless %}</h3>
			                	  </div>
			                	</div>
			                </div>
		                </a>
	                </div>
	                {% if last == true and forloop.last == true %}
	                	{% assign end = true %}
	                {% else %}
	                	{% assign end = false %}
	                {% endif %}
	                {% if n == 3 or end == true %}
	                    </div>
	                    {% assign n = 1 %}
	                {% else %}
	                    {% assign n = n | plus: 1 %}
	                {% endif %}
            	{% endfor %}
            {% endfor %}
            </div>
        </div>
    {% endif %} 
{% endfor %}
