---
title: Harley Farms &#124; Farm News
layout: new_default
image_top: /img/new/news/news_main.jpg
image_lower: /img/new/news/news_lower_large.jpg
image_signup: /img/new/home/home_signup.jpg
form: newsletter.html
---

<div class="center-content">
  <h1>Farm News</h1>

  <div class="center-pics">

    <div class="right">
    {% for post in paginator.posts %}
        {% assign res = forloop.index | modulo: 2 %}

        {% if res == 0 %}
        <a class="no-underline" href="{{ post.url }}">
            <div class="blog-post">
            <img src="{{ post.header-img }}">
            <div>
                <div class="center-text">
                <h3>{{ post.title }}</h3>
                <p>
                    {{ post.excerpt }}
                </p>
                </div>
            </div>
            </div>
        </a>
        {% endif %}
    {% endfor %}
    </div>

    <div class="left">
    {% for post in paginator.posts %}
        {% assign res = forloop.index | modulo: 2 %}

        {% if res != 0 %}
        <a class="no-underline" href="{{ post.url }}">
            <div class="blog-post">
            <img src="{{ post.header-img }}">
            <div>
                <div class="center-text">
                <h3>{{ post.title }}</h3>
                <p>
                    {{ post.excerpt }}
                </p>
                </div>
            </div>
            </div>
        </a>
        {% endif %}

    {% endfor %}
    </div>
  </div>

  <div class="blog-page-nav">
    <div>
      {% if paginator.previous_page_path != nil %}
        <a href="{{ paginator.previous_page_path }}"><h2>Previous</h2></a>
      {% endif %}
    </div>

    <div class="center-children">
      <ul style="width: 100%;">
        <li class="blog-page-number"><a href="/news/">1</a></li>
        <li class="blog-page-number">..</li>
        {% assign first = paginator.page | minus: 6 %}
        {% assign last = paginator.page | plus: 6 %}
        {% if last >= paginator.total_pages %}
          {% assign end = paginator.total_pages %}
        {% else %}
          {% assign end = last %}
        {% endif %}
        {% if first < 2 %}
          {% assign begin = 2 %}
        {% else %}
          {% assign begin = first %}
        {% endif %}
        {% for i in (begin..end) %}
          <li class="blog-page-number"><a href="/news/page{{ i }}/">{{ i }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div>
      {% if paginator.next_page_path != nil %}
        <a href="{{ paginator.next_page_path }}"><h2>Next</h2></a>
      {% endif %}
    </div>
  </div>

</div>
