
<form action="https://harleyfarms.us17.list-manage.com/subscribe/post?u=f1d474e28d56861fb8d04c6fd&amp;id=113eaa5e3c"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="lower-form"
      target="_blank">
  <h2 class="white-text">Newsletter</h2>
  <span class="white-text">Sign up to hear about news and events</span>
  <input placeholder="First name" name="FNAME" type="given-name">
  <input placeholder="Last name" name="LNAME" type="familiy-name">
  <input placeholder="Email" name="EMAIL" type="email">
  <input class="form-submit-button white-text" type="submit" value="Sign up">
</form>
