<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Harley, Farms, Award, Winning, American,
    Alpine, Goat, Dairy, Sustainable, Slow, Food, Healthy, Community, Local,
    Tours, Dinners, Hayloft, Slow, Food, Chevre, Fromage, Blanc, Ricotta, Feta,
    Events, Private, Corporate, School, Edible, Flowers, Hayloft, Pescadero,
    California, Recipes" />
    <meta name="description" content="Harley Farms, in Pescadero, CA, is a
    farmstead dairy featuring award-winning cheeses, goat-milk body products
    and paints. We offer tours, classes, farm dinners, weddings, and private
    and corporate events.">

    <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <title>
      {% if page.path == "index.html" %}{% for page in site.pages %}{% if page.index %}{{ page.title }}{% endif %}{% endfor %}{% else %}{{ page.title }}{% endif %}
    </title>

    <!-- Custom CSS -->
    <link href="./css/default.css" rel="stylesheet">

  </head>

  <body>
    <div class="main-container">
      <div class="nav">
        <img class="nav-logo" src="img/logo_reverse.png">
      </div>
      <div class="top">
        <img class="top-pic" src="{{ page.image_top }}">
      </div>
      <div class="middle">
        <!--
        {% case page.path %}
          {% when 'index.html' %}
            lol, ok
          {% else %}
            yea
          {% endcase %} <br>
        -->
        {{ content }}

        image here
        <p>Very brief intro copy goes here, template images</p>
      </div>
      <div class="lower">
        <img class="lower-pic" src="{{ page.image_lower }}">
      </div>
      <div class="signup">
        <div class="signup-img">
          <img class="signup-pic" src="{{ page.image_signup }}">
        </div>
        <div class="signup-bod">
        </div>
      </div>
      <!-- Footer -->
      <footer class="footer">
        <p class="footer-text">
          205 North Street, PO Box 173, Pescadero, CA 94060 <br>
          Farm &amp; Cheese Shop: Thursday-Monday, 11 am-4 pm <br>
          Closed Easter, Thanksgiving, Christmas Day &amp; New Year's Day <br>
          <strong>info@harleyfarm.com</strong><br>
          <br>
          &copy; {{ 'now' | date: '%Y' }} Harley Farms, Inc., All Rights Reserved
        </p>
      </footer>
    </div>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

  </body>
</html>
