---
layout: default
---
<div class="hidden-xs" style="height: 120px"></div>
<div class="visible-xs" style="height: 70px"></div>
{% for module in page.modules %}
	{% if module.type == "header" %}
		<div class="container" style="padding-top: 50px; padding-bottom: 50px;">
			{% if forloop.first == false and module.hr == true %}
				<hr />
			{% endif %}
	    	<img src="{{ module.img }}" class="img-responsive" alt="">
	    </div>
		<div class="container">
			{{ module.text | markdownify }}
		</div>
	{% endif %}
	{% if module.type == "2-col" %}
		{% if module.orientation == "left" %}
		<div class="container" style="padding-bottom: 25px;">
        	{% if forloop.first == false and module.hr == true %}
				<hr />
			{% endif %}
			<div class="row">
        		<div class="col-md-6 col-md-push-6">
        			{{ module.text | markdownify }}
        		</div>
        		<div class="col-md-6 col-md-pull-6"><img src="{{ module.img }}" class="img-responsive" style="margin: 0 auto;" alt=""></div>
        	</div>
        </div>
        {% else %}
		<div class="container" style="padding-bottom: 25px;">
        	{% if forloop.first == false and module.hr == true %}
				<hr />
			{% endif %}
			<div class="row">
        		<div class="col-md-6">
        			{{ module.text | markdownify }}
        		</div>
        		<div class="col-md-6"><img src="{{ module.img }}" class="img-responsive" style="margin: 0 auto;" alt=""></div>
        	</div>
        </div>
        {% endif %}
	{% endif %}
	{% if module.type == "3-col-grid" %}
		<div class="container" style="padding-bottom: 25px;">
			{% if forloop.first == false and module.hr == true %}
				<hr />
			{% endif %}
			{% assign n = 1 %}
		{% for entry in module.entries %}
			{% if n == 1 %}
				<div class="row">
			{% endif %}
			<div class="col-md-4">
				<p><img src="{{ entry.img }}" alt="" class="img-responsive"></p>
				{{ entry.text | markdownify }}
			</div>
			{% if n == 3 or forloop.last == true %}
				</div>
				{% assign n = 1 %}
			{% else %}
				{% assign n = n | plus: 1 %}
			{% endif %}
		{% endfor %}
	</div>
	{% endif %}
	{% if module.type == "2-col-grid" %}
		<div class="container" style="padding-bottom: 25px;">
			{% if forloop.first == false and module.hr == true %}
				<hr />
			{% endif %}
			{% assign n = 1 %}
		{% for entry in module.entries %}
			{% if n == 1 %}
				<div class="row">
			{% endif %}
			<div class="col-md-6">
				<p><img src="{{ entry.img }}" alt="" class="img-responsive"></p>
				{{ entry.text | markdownify }}
			</div>
			{% if n == 2 or forloop.last == true %}
				</div>
				{% assign n = 1 %}
			{% else %}
				{% assign n = n | plus: 1 %}
			{% endif %}
		{% endfor %}
		</div>
	{% endif %}
	{% if module.type == "text" %}
		<div class="container" style="padding-bottom: 25px;">
			{% if forloop.first == false and module.hr == true %}
				<hr />
			{% endif %}
				{{ module.text | markdownify }}
		</div>
	{% endif %}	
    {% if module.type == "4-col-img-grid" %}
        <div class="container" style="padding-bottom: 25px;">
            {% if forloop.first == false and module.hr == true %}
                <hr />
            {% endif %}
            {% assign n = 1 %}
        {% for entry in module.entries %}
            {% if n == 1 %}
                <div class="row">
            {% endif %}
            <div class="col-md-3 col-sm-6">
                <p><img src="{{ entry }}" alt="" class="img-responsive"></p>
            </div>
            {% if n == 4 or forloop.last == true %}
                </div>
                {% assign n = 1 %}
            {% else %}
                {% assign n = n | plus: 1 %}
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
    {% if module.type == "gallery" %}
        <div class="container" style="padding-bottom: 25px;">

            {% if forloop.first == false and module.hr == true %}
                <hr />
            {% endif %}

         	{% assign galleryno = 1 %}
         	<p style="text-align: center;">
            {% for gallery in module.galleries %}
				<a href="#{{ galleryno | prepend: "gallery" }}" aria-controls="{{ galleryno | prepend: "gallery" }}" role="tab" data-toggle="tab" class="gallery-pill{% if forloop.first == true %} active{% endif %}">{{ gallery.name }}</a>
	         	{% assign galleryno = galleryno | plus: 1 %}
	        {% endfor %}
	        <a href="#all" aria-controls="all" role="tab" data-toggle="tab" class="gallery-pill">All</a>
	        </p>

            {% assign galleryno = 1 %}
            {% for gallery in module.galleries %}
            	<div role="tabpanel" class="tab-pane{% if forloop.first == true %} active{% endif %}" id="{{ galleryno | prepend: "gallery" }}">
            	{% assign n = 1 %}
	            {% for entry in gallery.entries %}
	                {% if n == 1 %}
	                    <div class="row">
	                {% endif %}
	                <div class="col-md-4" style="padding-bottom: 30px;">
	                <img src="{{ entry.img }}" class="img-responsive" style="visibility: hidden;">
		                <a href="{{ entry.img }}" data-lightbox="{{ galleryno | prepend: "gallery" }}"{% unless text == "" %} data-title="{{ entry.text }}"{% endunless %}>
			                <div class="tile ratio" style="background: url({{ entry.img }}); position: absolute; width: calc(100% - 30px); height: calc(100% - 30px); top: 0; z-index: 10;">
			                	<div class="back">
			                	  <div class="text-center content-container">
			                	    <h3 style="margin: 0;">{% unless text == "" %}{{ entry.text }}{% endunless %}</h3>
			                	  </div>
			                	</div>
			                </div>
		                </a>
	                </div>
	                {% if n == 3 or forloop.last == true %}
	                    </div>
	                    {% assign n = 1 %}
	                {% else %}
	                    {% assign n = n | plus: 1 %}
	                {% endif %}
	            {% endfor %}
	            </div>
	            {% assign galleryno = galleryno | plus: 1 %}
	        {% endfor %}
	        <div role="tabpanel" class="tab-pane" id="all">
	        {% assign n = 1 %}
	        {% for gallery in module.galleries %}
            	{% for entry in gallery.entries %}
	                {% if n == 1 %}
	                    <div class="row">
	                {% endif %}
	                <div class="col-md-4" style="padding-bottom: 30px;">
	                	<img src="{{ entry.img }}" class="img-responsive" style="visibility: hidden;">
		                <a href="{{ entry.img }}" data-lightbox="all"{% unless text == "" %} data-title="{{ entry.text }}"{% endunless %}>
			                <div class="tile" style="background: url({{ entry.img }}); position: absolute; width: calc(100% - 30px); height: calc(100% - 30px); top: 0; z-index: 10;">
			                	<div class="back">
			                	  <div class="text-center content-container">
			                	    <h3 style="margin: 0;">{% unless text == "" %}{{ entry.text }}{% endunless %}</h3>
			                	  </div>
			                	</div>
			                </div>
		                </a>
	                </div>
	                {% if forloop.parentloop.last == true and forloop.last == true %}
	                	{% assign end = true %}
	                {% else %}
	                	{% assign end = false %}
	                {% endif %}
	                {% if n == 3 or end == true %}
	                    </div>
	                    {% assign n = 1 %}
	                {% else %}
	                    {% assign n = n | plus: 1 %}
	                {% endif %}
            	{% endfor %}
            {% endfor %}
            </div>
        </div>
    {% endif %} 
{% endfor %}
