---
layout: default
---
<div class="hidden-xs" style="height: 150px"></div>
<div class="visible-xs" style="height: 70px"></div>
{% for module in page.modules %}
	{% if module.type == "header" %}
		<div class="container" style="margin-bottom: 25px;">
			{% if forloop.first == false and module.hr == true %}
				<hr />
			{% endif %}
	    	<img src="{{ module.img }}" class="img-responsive" alt="">
	    </div>
		<div class="container">
			{{ module.text | markdownify }}
		</div>
	{% endif %}
	{% if module.type == "2-col" %}
		{% if module.orientation == "left" %}
		<div class="container" style="margin-bottom: 25px;">
        	{% if forloop.first == false and module.hr == true %}
				<hr />
			{% endif %}
			<div class="row">
        		<div class="col-md-6 col-md-push-6">
        			{{ module.text | markdownify }}
        		</div>
        		<div class="col-md-6 col-md-pull-6"><img src="{{ module.img }}" class="img-responsive" style="margin: 0 auto;" alt=""></div>
        	</div>
        </div>
        {% else %}
		<div class="container" style="margin-bottom: 25px;">
        	{% if forloop.first == false and module.hr == true %}
				<hr />
			{% endif %}
			<div class="row">
        		<div class="col-md-6">
        			{{ module.text | markdownify }}
        		</div>
        		<div class="col-md-6"><img src="{{ module.img }}" class="img-responsive" style="margin: 0 auto;" alt=""></div>
        	</div>
        </div>
        {% endif %}
	{% endif %}
	{% if module.type == "3-col-grid" %}
		<div class="container" style="margin-bottom: 25px;">
			{% if forloop.first == false and module.hr == true %}
				<hr />
			{% endif %}
			{% assign n = 1 %}
		{% for entry in module.entries %}
			{% if n == 1 %}
				<div class="row">
			{% endif %}
			<div class="col-md-4">
				<p><img src="{{ entry.img }}" alt="" class="img-responsive"></p>
				{{ entry.text | markdownify }}
			</div>
			{% if n == 3 or forloop.last == true %}
				</div>
				{% assign n = 1 %}
			{% else %}
				{% assign n = n | plus: 1%}
			{% endif %}
		{% endfor %}
	</div>
	{% endif %}
	{% if module.type == "2-col-grid" %}
		<div class="container" style="margin-bottom: 25px;">
			{% if forloop.first == false and module.hr == true %}
				<hr />
			{% endif %}
			{% assign n = 1 %}
		{% for entry in module.entries %}
			{% if n == 1 %}
				<div class="row">
			{% endif %}
			<div class="col-md-6">
				<p><img src="{{ entry.img }}" alt="" class="img-responsive"></p>
				{{ entry.text | markdownify }}
			</div>
			{% if n == 2 or forloop.last == true %}
				</div>
				{% assign n = 1 %}
			{% else %}
				{% assign n = n | plus: 1%}
			{% endif %}
		{% endfor %}
		</div>
	{% endif %}
	{% if module.type == "text" %}
		<div class="container" style="margin-bottom: 25px;">
			{% if forloop.first == false and module.hr == true %}
				<hr />
			{% endif %}
				{{ module.text | markdownify }}
		</div>
	{% endif %}	
    {% if module.type == "4-col-img-grid" %}
        <div class="container" style="margin-bottom: 25px;">
            {% if forloop.first == false and module.hr == true %}
                <hr />
            {% endif %}
            {% assign n = 1 %}
        {% for entry in module.entries %}
            {% if n == 1 %}
                <div class="row">
            {% endif %}
            <div class="col-md-3 col-sm-6">
                <p><img src="{{ entry }}" alt="" class="img-responsive"></p>
            </div>
            {% if n == 4 or forloop.last == true %}
                </div>
                {% assign n = 1 %}
            {% else %}
                {% assign n = n | plus: 1%}
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
{% endfor %}