---
layout: default
---
<div class="hidden-xs" style="height: 150px"></div>
<div class="visible-xs" style="height: 70px"></div>
<div class="container" style="margin-bottom: 25px;">
    <img src="{{ page.img }}" class="img-responsive" alt="">
</div>
<div class="container">
    <p style="text-align: center; color: #9ca1aa;">WRITTEN BY {{ page.author | upcase }} ON {{ page.date | date: "%d %B %Y" | upcase }}.</p>
    <h2 style="text-align: center;">{{ page.title | upcase }}</h2>
    <hr />
    <span p style="color: rgb(99, 104, 115);">{{ content }}</span>
</div>